img.align-left, figure.align-left {
    float: left;
}

img.align-right, figure.align-right {
    float: right;
}

img.align-center, figure.align-center .plantuml *, figure.align-center video {
    margin-left: auto;
    margin-right: auto;
}

.plantuml, video {
    margin-top: calc(var(--spacing)*6);
}